[submodule "Pet_Shelter_Front_end"]
	path = Pet_Shelter_Front_end
	url = https://github.com/husseinkhaled733/Pet_Shelter_Front_end
[submodule "Pet_Shelter_Back-end"]
	path = Pet_Shelter_Back-end
	url = https://github.com/husseinkhaled733/Pet_Shelter_Back-end
